.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% - 40px);
  height: calc(100vh - 40px);

  margin: 20px;
  padding: 20px;

  background-color: #ffffff;
  border-radius: 16px;
}
